:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0px;
}
li {
  list-style: none;
}
img {
  width: 100%;
  box-sizing: border-box;
}

.mv {
  width: 100vw;
  height: auto;
  margin: 0 auto 80px;
}
.content_01 {
  display: block;
  max-width: 800px;
  margin: 0 auto 80px;
  h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
  }
  div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    img {
      width: 150px;
      height: 150px;
      aspect-ratio: 1/1;
    }
    .txt_wrap {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
.content_02 {
  display: block;
  max-width: 800px;
  margin: 0 auto 80px;
  text-align: center;
  h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
  }
  .slide_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 16px;
    img {
      max-width: 400px;
    }
  }
  button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: pointer;
  }
}
footer {
  width: 100vw;
  height: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
}
